---
name: Docker Hub

on:
  push:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  dockerhub:
    if: startsWith(github.ref, 'refs/heads/')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: ["linux/amd64", "linux/arm64"]
        tag: ["main", "latest"]
    steps:
      - name: Set REPOSITORY
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'	
          echo "REPOSITORY=${GITHUB_REPOSITORY#*/}" >> "${GITHUB_ENV}"
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Pull the ${{ matrix.tag }} ${{ matrix.platform }} image
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          docker pull --platform "${{ matrix.platform }}" "${GITHUB_REPOSITORY_OWNER}/${REPOSITORY}:${{ matrix.tag }}"
      - name: Pull the ${{ matrix.tag }} ${{ matrix.platform }} image SBOM
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          docker buildx imagetools inspect "${GITHUB_REPOSITORY_OWNER}/${REPOSITORY}:${{ matrix.tag }}" --format "{{ json (index .SBOM \"${{ matrix.platform }}\").SPDX }}"
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      - name: Verify the ${{ matrix.tag }} image signature
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          cosign verify "${GITHUB_REPOSITORY_OWNER}/${REPOSITORY}:${{ matrix.tag }}" --certificate-identity-regexp "https://github\.com/${GITHUB_REPOSITORY}/\.github/workflows/.+" --certificate-oidc-issuer 'https://token.actions.githubusercontent.com'
